body{
	background-color: rgb(238,238,255);

}

.segment{ 
	border-style: solid;
	border-width: 2px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px;
	border-color: rgb(148,148,148);
	border-top-color: rgb(62,62,148);
	border-top-width: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-radius: 10px;
	background-color: rgb(255,255,255);
}

.formCenter{
	left: 30%;
	position: absolute;
	width: 40%;
}

.redcolor{
	color: rgb(250,0,0);
	font-size: 12px;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
}

.h2{
	font-size: 26px;
}

.h3{
	font-size: 16px;
}

.button {
  background-color: rgb(62,62,148); 
  border: none;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 35px;
}

.submitbutton {
  background-color: rgb(62,62,148); 
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 45px;
}

.captcha-btn {
	margin: 10px;
}

#captcha-morse {
	font-size: 12px;
	color: grey;
	margin-bottom: 10px;
}

#rep-captcha-btn {
	display: none;
}

.success {
	background-color: green;
	border: none;
	margin: 10px;
}

/*
	media props
*/

@media only screen and (max-width: 600px) {
	.formCenter {
		width: 90%;
		left: 5%;
	}

	.submitbutton {
		margin-left: 15%;
	}
}